<p id="notice"><%= notice %></p>
<div class="container">
<h1>Users</h1>

<table class="table">
  <thead>
  <tr>
    <th>ID</th>
    <th>Email</th>
    <th>Password</th>
    <th>Image</th>
    <th>Level</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if @user.level == 1 %>
    <%= link_to 'New Lesson', new_user_path, :class => "btn btn-success" %>
  <% @users.each do |user| %>
    <tr>
      <td><%= user.id %></td>
      <td><%= user.email %></td>
      <td><%= user.password %></td>
      <td><%= user.image %></td>
      <td><%= user.level %></td>
      <td><%= link_to 'Show', user %></td>
      <td><%= link_to 'Edit', edit_user_path(user) %></td>
      <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
    <% else %>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
        <td><%= user.password %></td>
        <td><%= user.image %></td>
        <td><%= user.level %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>