<p id="notice"><%= notice %></p>
<div class="container">
<h1 align="center">Learnwordlists</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Wordlist</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% if @user.level == 1 %>
    <%= link_to 'New Learnwordlist', new_learnwordlist_path, :class => "btn btn-success" %>
    <% @learnwordlists.each do |learnwordlist| %>
      <tr>
        <td><%= learnwordlist.user_id %></td>
        <td><%= learnwordlist.wordlist_id %></td>
        <td><%= link_to 'Show', learnwordlist %></td>
        <td><%= link_to 'Edit', edit_learnwordlist_path(learnwordlist) %></td>
        <td><%= link_to 'Destroy', learnwordlist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    <% else %>
    <% @learnwordlists.each do |learnwordlist| %>
      <tr>
        <td><%= learnwordlist.user_id %></td>
        <td><%= learnwordlist.wordlist_id %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>