<div class="container">
  <%= link_to t('index.start'), lessons_path, :class => "btn btn-success" %>
<h1><%= t('index.listwl') %></h1>
<table class="table">
  <thead>
  <tr>
    <th>id</th>
    <th><%= t('index.category') %></th>
    <th><%= t('index.language') %></th>
    <th><%= t('index.translate') %></th>
  </tr>
  </thead>

  <tbody>
  <% @wordlist.each do |word| %>
    <tr>
      <td><%= word.id %></td>
      <td><%= word.category.name %></td>
      <td><%= word.language %></td>
      <td><%= word.translate_language %></td>
    </tr>
  <% end %>
  </tbody>
</table>

  <div align="right"><%= link_to t('index.more'), wordlists_path %></div>

<h1><%= t('index.Learned') %></h1>
<table class="table">
  <thead>
  <tr>
    <th>id</th>
    <th><%= t('index.language') %></th>
    <th><%= t('index.translate') %></th>
    <th><%= t('index.Time') %></th>
  </tr>
  </thead>
  <tbody>
  <% @demo.each do |learn| %>
    <tr>
      <td><%= learn.id %></td>
      <td><%= learn.language %></td>
      <td><%= learn.translate_language %></td>
      <td><%= learn.updated_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>


<hr>
<h1>Action</h1>
<table class="table">
  <thead>
  <tr>
    <th>id</th>
    <th>action</th>
    <th>point</th>
  </tr>
  </thead>
  <tbody>
  <% @actions.each do |action| %>
    <tr>
      <td><%= action.id %></td>
      <td><%= action.action %></td>
      <td><%= action.point %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>