<div class="container">
  <%= link_to 'Start Lesson', wordlists_path, :class => "btn btn-success" %>
<h1>List word list</h1>
<table class="table">
  <thead>
  <tr>
    <th>id</th>
    <th>category</th>
    <th>language</th>
    <th>translate</th>
  </tr>
  </thead>

  <tbody>
  <% @wordlist.each do |word| %>
    <tr>
      <td><%= word.id %></td>
      <td><%= word.category.name %></td>
      <td><%= word.language %></td>
      <td><%= word.translate_language %></td>
    </tr>
  <% end %>
  </tbody>
</table>
<p><%= will_paginate @wordlist %></p>

<h1>Learn word list</h1>
<table class="table">
  <thead>
  <tr>
    <th>id</th>
    <th>language</th>
    <th>translate_language</th>
    <th>time learn</th>
  </tr>
  </thead>
  <tbody>
  <% @demo.each do |learn| %>
    <tr>
      <td><%= learn.id %></td>
      <td><%= learn.language %></td>
      <td><%= learn.translate_language %></td>
      <td><%= learn.updated_at %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
