<p id="notice"><%= notice %></p>
<div class="container">
<h1>Results</h1>
<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Lesson</th>
      <th>Point</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
  <% if @user.level == 1 %>
    <%= link_to 'New Result', new_result_path, :class => "btn btn-success" %>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.user_id %></td>
        <td><%= result.lesson_id %></td>
        <td><%= result.point %></td>
        <td><%= link_to 'Show', result %></td>
        <td><%= link_to 'Edit', edit_result_path(result) %></td>
        <td><%= link_to 'Destroy', result, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  <% else %>
    <% @results.each do |result| %>
      <tr>
        <td><%= result.user_id %></td>
        <td><%= result.lesson_id %></td>
        <td><%= result.point %></td>
      </tr>
    <% end %>
    <% end %>
  </tbody>
</table>
</div>