<%= form_tag(list_path, :method => :get, html: {:class => "pt-3"}) do %>
  <div class="form-row align-items-center">
    <div class="col-form-label col-sm-2 pt-0">Lọc</div>
    <div class="custom-control custom-checkbox mr-3">
      <%= check_box_tag :wordlist_id %> Chưa học
    </div>
    <div class="custom-control custom-checkbox">
      <%= check_box_tag :learnwordlist_id %> Đã học
    </div>
    <%= select_tag :category, options_for_select(select_category), :class => "custom-select custom-select-lg mb-3" %>
    <%= submit_tag 'Lọc', :class => "btn" %>
  </div>
<% end %>

<p id="notice"><%= notice %></p>

<h1><%= t('index.Wordlist') %></h1>

<table class="table">
  <thead>
  <tr>
    <td>ID</td>
    <th>Lesson ID</th>
    <th><%= t('index.language') %></th>
    <th><%= t('index.translate') %></th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% if check_level %>
    <% @word_list.each do |wordlist| %>
      <tr>
        <td><%= wordlist.id %></td>
        <td><%= wordlist.lesson_id %></td>
        <td><%= wordlist.language %></td>
        <td><%= wordlist.translate_language %></td>
        <td><%= link_to 'Show', wordlist %></td>
        <td><%= link_to 'Edit', edit_wordlist_path(wordlist) %></td>
        <td><%= link_to 'Destroy', wordlist, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
    <% end %>
  <% else %>
    <% @word_list.each do |wordlist| %>
      <tr>
        <td><%= wordlist.id %></td>
        <td><%= wordlist.lesson_id %></td>
        <td><%= wordlist.language %></td>
        <td><%= wordlist.translate_language %></td>
        <td><%= link_to 'Learn', wordlist %></td>
      </tr>
    <% end %>
  <% end %>
  </tbody>
</table>
<p><%= will_paginate @word_list %></p>
