<!DOCTYPE html>
<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'E-Learning', elearn_path, :class => "navbar-brand" %>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <%= link_to 'Home', home_path, :class => "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Category', categories_path, :class => "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Wordlist', wordlists_path, :class => "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Lesson', lessons_path, :class => "nav-link" %>
      </li>
      <li class="nav-item active">
        <%= link_to 'Result', results_path, :class => "nav-link" %>
      </li>
    </ul>
  </div>&emsp;
  <ul class="dropdown" align="right">
    <% if logged_in? %>
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= current_user.email %>
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <%= link_to 'Setting', edit_user_path(current_user), :class => "dropdown-item" %>
        <%= link_to 'Action', action_user_path, :class => 'dropdown-item' %>
        <%= link_to 'Logout', logout_path, :class => "dropdown-item", :method => :delete %>
      </div>
      <% else %>
      <ul class="navbar-nav mr-auto">
        <%= link_to 'Sigup', new_user_path, :class => "btn btn-primary", :method => :get %>&emsp;
        <%= button_to 'Login', login_path, :class => "btn btn-primary", :method => :get %>
      </ul>
      <% end %>
  </ul>
</nav>

<html>
  <head>
    <title>Example</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
</div>
